// 더보기 버튼
.more-btn {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: $fw-bold;
  line-height: 2.2;
  background-color: $c-light-blue;
  color: $c-black;
}