// 더보기 버튼
.container .more-btn {
  display: block;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: $fw-bold;
  line-height: 2.2;
  background-color: $c-light-blue;
  color: $c-black;

  @include respond-to('large') {
    display: none;
  }
}

.container .float-more-btn {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  font-size: 1.4rem;
  color: $c-main-blue;
  border-radius: 50%;
  transition: 0.3;
  z-index: $z-moreBtn;
  @include font-gmarket('Bold');

  @include respond-to('large') {
    display: flex;
  }

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    left: -1px;
    background-color: $c-main-blue;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: -1;
    opacity: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    left: -1px;
    border: 1px solid $c-main-blue;;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
  }

  &:hover {
    color: #fff;

    &::before {
      transform: scale(1);
      opacity: 1;
    }

    &::after {
      transform: scale(1.2);
      opacity: 0;
    }
  }
}

// 맨 위로 이동 버튼
.scroll-top-btn {
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  z-index: $z-topBtn;
  opacity: 0;
  transition: 0.5s;

  @include respond-to('large') {
    right: 3rem;
    bottom: 1.5rem;
  }

  &.attached {
    bottom: 2rem;
    opacity: 1;

    @include respond-to('large') {
      bottom: 3rem;
    }
  }
  
  button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $c-main-blue;
    color: #fff;
    box-shadow: 0 0 0 rgb(88 120 243 / 40%);
    animation: btn-shadow-ani 2s infinite;

    @include respond-to('large') {
      width: 6rem;
      height: 6rem;
    }
  }
}