.quick-menu-nav {
  position: relative;
}

.quick-menu-list {
  position: absolute;
  left: 0;
  top: -5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;

  @include respond-to('medium') {
    flex-wrap: nowrap;
  }

  li {
    width: 50%;
    min-height: calc(5rem + 6vw);
    padding: 0.5rem;
    font-size: 1.5rem;

    @include respond-to('huge') {
      padding: 0;
      font-size: 2.5rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 1.5rem;
      height: 100%;
      text-align: center;
      background-color: $c-light-blue;
      color: $c-black;
      @include font-gmarket('Bold');
    }
  }
}