// 로더 회전 애니메이션
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// 로더 원 그리기 애니메이션
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

// 이달의 생활문화 scale 애니메이션
@keyframes slide-scale-ani {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

// 맨 위로 이동 버튼 그림자 애니메이션
@keyframes btn-shadow-ani {
  0% {
    box-shadow: 0 0 0 0 rgb(88 120 243 / 40%);
  }
  70% {
    box-shadow: 0 0 0 10px rgb(88 120 243 / 0%);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(88 120 243 / 0%);
  }
}

// 배경 글자 아이콘 움직임 애니메이션
@keyframes background-letter-move-x {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(50%, 0, 0);
  }
}

@keyframes background-letter-move-y {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 30%, 0);
  }
}