html {
	line-height: 1.2;
	font-size: 62.5%;
}

body {
	font-weight: $fw-normal;
	color: $c-black;
	-webkit-font-smoothing: antialiased;

	@include font-main;

	&.lock-screen {
		overflow: hidden;
		height: 100%;
	}

	.visible-item {
		visibility: visible;
		opacity: 1;
	}
	
	.hidden-item {
		visibility: hidden;
		opacity: 0;
	}
}

.container {
	overflow-x: hidden;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include respond-to('huge') {
    max-width: 140rem;
    padding: 0 3rem;
  }
}

h3 {
	font-size: calc(1.2rem + 3vw);
	@include font-gmarket('Bold');

  @include respond-to('large') {
    font-size: 4rem;
  }
}

.section-description {
	display: none;
	margin-bottom: 1em;
	font-size: calc(0.6rem + 1vw);
	color: inherit;
	font-weight: $fw-normal;
	@include font-main;

	@include respond-to('medium') {
		display: block;
	}

	@include respond-to('large') {
		font-size: 1.6rem;
	}
}