.cultural-center-section {
  padding: 12rem 0 2rem;

  h3 {
    margin-bottom: 0.5em;
    text-align: center;

    @include respond-to('large') {
      text-align: left;
    }
  }

  .float-more-btn {
    top: 1rem;
    right: 3rem;
  }
}

.cultural-center-container {
  @include respond-to('large') {
    display: flex;
    flex-direction: row-reverse;
  }
}

.cultural-center-img-wrap {
  padding: 1rem 0;
  border-radius: 2.2rem;
  overflow: hidden;

  @include respond-to('large') {
    width: 40%;
  }

  img {
    transition: 0.3s;
    display: none;
    opacity: 0;

    &.cultural-center-active {
      display: block;
      animation: fade-in 1s forwards;
    }
  }
}

.cultural-center-btn-wrap {
  padding: 1rem 0.5rem;

  @include respond-to('large') {
    flex-grow: 1;
  }

  ul {
    display: flex;
    padding: 0.5rem 0;

    @include respond-to('large') {
      padding: 1.5rem 0;
    }
  }

  button {
    margin-right: 0.5rem;
    padding: 0 1.3rem;
    height: calc(3rem + 3.3vw);
    color: $c-main-blue;
    background-color: #fff;
    border: 1.5px solid $c-main-blue;
    border-radius: calc(3rem + 3.3vw);
    font-size: 1rem;
    @include font-gmarket('Medium');

    @include respond-to('medium') {
      padding: 0 calc(1.4rem + 1.5vw);
      font-size: calc(0.8rem + 1.07vw);
      border-width: 2px;
    }

    @include respond-to('large') {
      height: calc(2rem + 3.3vw);
      border-radius: calc(2rem + 3.3vw);
      padding: 0 calc(0.7rem + 1vw);
      font-size: calc(0.5rem + 1.07vw);
    }

    @include respond-to('huge') {
      height: 7.5rem;
      border-radius: 5rem;
      padding: 0 3rem;
      font-size: 2rem;
    }

    &.cultural-center-active {
      color: #fff;
      background-color: $c-main-blue;
    }

    span {
      display: block;

      @include respond-to('medium') {
        display: inline-block;
      }
    }
  }
}