.cultural-center-section {
  padding: 12rem 1.5rem 2rem;

  h3 {
    margin-bottom: 0.5em;
    text-align: center;

    @include respond-to('huge') {
      text-align: left;
    }
  }
}

.cultural-center-container {
  @include respond-to('huge') {
    display: flex;
    flex-direction: row-reverse;
  }
}

.cultural-center-img-wrap {
  padding: 1rem 0;
  border-radius: 2.2rem;
  overflow: hidden;

  @include respond-to('huge') {
    width: 40%;
  }

  img {
    transition: 0.3s;
    display: none;
    opacity: 0;

    &.cultural-center-active {
      display: block;
      animation: fade-in 1s forwards;
    }
  }
}

.cultural-center-btn-wrap {
  padding: 1rem 0;

  @include respond-to('huge') {
    flex-grow: 1;
  }

  ul {
    display: flex;
    padding: 0.5rem 0;
  }

  button {
    margin-right: 0.5rem;
    padding: 0 1.2rem;
    height: calc(3rem + 3.3vw);
    color: $c-main-blue;
    background-color: #fff;
    border: 1.5px solid $c-main-blue;
    border-radius: calc(3rem + 3.3vw);
    font-size: calc(0.8rem + 1.07vw);
    @include font-gmarket('Medium');

    &.cultural-center-active {
      color: #fff;
      background-color: $c-main-blue;
    }
  }
}