.intro-section {
  padding: 5.5rem 1.5rem;
  color: $c-main-blue;
  text-align: center;
  @include font-gmarket;

  h2 {
    padding-top: 5%;
    font-size: 3.2rem;
    font-weight: normal;

    p {
      font-size: 1.5rem;
      margin-bottom: 0.6em;
    }
  }

  .swiper-pagination {
    font-size: 1.4rem;
  
    .swiper-pagination-bullet {
      width: auto;
      padding: 0.2rem;
      color: $c-main-blue;
      background-color: transparent;
      opacity: 1;
      @include font-gmarket('Light');
  
      &-active {
        @include font-gmarket('Bold');
  
        &::before {
          content: '';
          display: inline-block;
          width: 8rem;
          height: 0.3rem;
          margin-right: 1rem;
          background-color: $c-main-blue;
        }
      }
    }
  }
}

.intro-description {
  font-size: 1.3rem;
  @include font-main;
}