.intro-section {
  padding: 5.5rem 0;
  color: $c-main-blue;
  text-align: center;
  @include font-gmarket;

  @include respond-to('large') {
    padding-bottom: 10rem;
  }

  h2 {
    padding: 5% 0;
    font-size: 8vw;
    font-weight: $fw-normal;

    @include respond-to('large') {
      flex-grow: 1;
      text-align: left;
      font-size: 6rem;
    }

    strong {
      display: block;
      font-weight: $fw-normal;
      font-size: calc(0.8rem + 1.8vw);
      margin-bottom: 0.6em;
    }
  }

  .intro-slide {
    @include respond-to('large') {
      display: flex;
      align-items: center;
    }
  }

  .swiper-pagination {
    font-size: 1.4rem;

    @include respond-to('large') {
      text-align: left;
    }
  
    .swiper-pagination-bullet {
      width: auto;
      padding: 0.2rem;
      color: $c-main-blue;
      background-color: transparent;
      opacity: 1;
      @include font-gmarket('Light');
  
      &-active {
        @include font-gmarket('Bold');
  
        &::before {
          content: '';
          display: inline-block;
          width: 8rem;
          height: 0.3rem;
          margin-right: 1rem;
          background-color: $c-main-blue;
        }
      }
    }
  }
}

.intro-description {
  display: block;
  font-size: 1.3rem;
  font-weight: $fw-normal;
  @include font-main;

  @include respond-to('medium') {
    font-size: 1.8rem;
  }
}

.main-intro-image {
  @include respond-to('medium') {
    width: 70%;
  }

  @include respond-to('large') {
    width: 50%;
  }
}