.news-section {
  padding: 12rem 1.5rem 8rem;
  background-color: $c-light-blue;

  h3 {
    margin-bottom: 2em;
  }

  .swiper-slide {
    width: 80%;

    @include respond-to('medium') {
      width: 50%;
    }

    @include respond-to('large') {
      width: 33%;
    }
  }
}

.news-info-wrap {
  display: block;
  position: relative;
  padding: 4rem 3rem;
  background-color: #fff;

  @include respond-to('medium') {
    padding: 6rem 3.5rem;
  }
}

.news-info-notice {
  font-size: 1.4rem;
  color: #ababab;

  @include respond-to('medium') {
    font-size: 1.8rem;
  }
}

.news-info-title {
  margin: 1rem 0 2rem;
  height: 6rem;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  @include ellipsis(2);
}

.news-info-content {
  margin-bottom: 4rem;
  height: 6.6rem;
  color: #787d86;
  font-size: 1.2rem;
  line-height: 2.2rem;
  @include ellipsis(3);

  @include respond-to('medium') {
    height: auto;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.news-info-footer {
  position: relative;

  i {
    position: absolute;
    top: -50%;
    right: 0;
    font-size: 3rem;
    color: #777;

    @include respond-to('medium') {
      font-size: 4rem;
    }
  }
}

.news-info-date {
  font-size: 1.2rem;
  color: #ababab;
  @include font-gmarket;
}