.news-section {
  position: relative;
  padding: 12rem 0 8rem;
  background-color: $c-light-blue;

  h3 {
    margin-bottom: 2em;
  }

  .swiper {
    padding-top: 3.5rem;
  }

  .background-letter-7 {
    @extend %background-letter;
    bottom: -20%;
    right: 10%;
    width: 28rem;
    height: 28rem;
    transform: translate3d(0, 0, 0);
    background-image: url('../images/common/main-bg-s.svg');
    animation: background-letter-move-x 10s linear infinite alternate;

    @include respond-to('huge') {
      bottom: 10%;
      width: 70rem;
      height: 35rem;
    }
  }
}

.news-info-wrap {
  display: block;
  position: relative;
  padding: 4rem 3rem;
  background-color: #fff;
  transition: 0.3s;

  @include respond-to('medium') {
    padding: 6rem 3.5rem;
  }

  &:hover {
    transform: translateY(-2rem);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);

    .news-info-title {
      color: $c-main-blue;
    }

    .xi-plus-thin {
      transform: rotate(180deg);
      color: $c-main-blue;
    }
  }
}

.news-info-notice {
  font-size: 1.4rem;
  color: #ababab;
  transition: 0.3s;

  @include respond-to('medium') {
    font-size: 1.8rem;
  }
}

.news-info-title {
  margin: 1rem 0 2rem;
  line-height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  @include ellipsis(2);

  @include respond-to('huge') {
    font-size: 2.8rem;
    line-height: 4rem;
  }
}

.news-info-content {
  margin-bottom: 4rem;
  height: 6.6rem;
  color: #787d86;
  font-size: 1.2rem;
  line-height: 2.2rem;
  @include ellipsis(3);

  @include respond-to('medium') {
    padding-top: 2rem;
    margin-bottom: 5rem;
    height: auto;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.news-info-footer {
  position: relative;

  i {
    position: absolute;
    top: -50%;
    right: 0;
    font-size: 3rem;
    color: #777;
    transition: 0.3s;

    @include respond-to('medium') {
      font-size: 4rem;
    }
  }
}

.news-info-date {
  font-size: 1.2rem;
  color: #ababab;
  @include font-gmarket;
}