<nav class="quick-menu-nav">
  <ul class="quick-menu-list">
    <li>
      <a href="#none">
        <span>
          우리지역 생활문화공간
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="#none">
        <span>
          생활문화 찾기
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="#none">
        <span>
          경기상상캠퍼스
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </a>
    </li>
    <li>
      <a href="#none">
        <span>
          온라인 문의
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </a>
    </li>
  </ul>
</nav>