@mixin font-main {
  font-family: 'Noto Sans KR', sans-serif;
}

@mixin font-gmarket($weight: Medium) {
  font-family: 'GmarketSans#{$weight}', sans-serif;
}

@mixin text-hidden {
  overflow: hidden;
  border: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

@mixin ellipsis($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($lines == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}