// font-weight
$fw-bold: 500;
$fw-normal: 300;
$fw-lignt: 100;

// color
$c-black: #2a2e35;
$c-main-blue: #134aa9;
$c-light-blue: #eff4fe;

// z-index
$z-loading: 999;
$z-sideMenu: 110;
$z-header: 100;
$z-header-bg: 99;
$z-footer: 10;
$z-moreBtn: 2;

// path
$path-images: '../images/';

// max-width
$max-width: 140rem;