footer {
  position: relative;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  text-align: center;
  background: #333;
  color: #767676;
  z-index: $z-footer;

  @include respond-to('large') {
    padding: 0 2rem 2rem;
    font-size: 1.6rem;
  }

  .inner {
    padding: 0;

    @include respond-to('large') {
      padding: 0 3rem;
    }
  }

  p {
    padding: 1.5rem;
    text-align: center;
    line-height: 1.5;

    @include respond-to('large') {
      padding: 2.5rem;
      text-align: left;
    }
  }
}

.footer-top {
  @include respond-to('large') {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #484848;
  }
}

.terms-info-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4rem;
  border-bottom: 1px solid #484848;

  @include respond-to('large') {
    border-bottom: none;
    margin-right: auto;
  }

  a {
    padding: 0 1rem;
    color: #fff;
  }
}

.sns-list {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 2rem;

  a {
    padding: 0.6rem;
    font-size: 2.5rem;
  }
}

.footer-company {
  @include respond-to('large') {
    display: flex;
    padding: 2rem;
  }
}

.footer-logo-wrap {
  margin-top: 2rem;

  @include respond-to('large') {
    flex-basis: 15%;
  }

  img {
    width: 9.6rem;

    @include respond-to('large') {
      width: 100%;
    }
  }
}

.family-site-btn-wrap {
  position: relative;
  width: 19.5rem;
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: left;

  @include respond-to('large') {
    margin: 0 0 0 2rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.3rem;
    width: 100%;
    height: 4rem;
    border: 1px solid #4c4c4c;
    color: #7b7b7b;
  }

  ul {
    position: absolute;
    left: 0;
    bottom: 4rem;
    width: 100%;
    border: 1px solid #4c4c4c;
    border-bottom: none;
    background-color: #404040;
    display: none;

    li {
      padding: 0 1.3rem;
      line-height: 4rem;
      color: #fff;
      border-bottom: 1px solid #4c4c4c;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.expand ul {
    display: block;
  }
}