header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
  color: $c-main-blue;
  background-color: #fff;
  z-index: $z-header;

  @include respond-to('huge') {
    position: relative;
    max-width: $max-width;
    height: 10rem;
    margin: auto;
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

h1 {
  a {
    display: inline-block;
    width: 12rem;
    padding-bottom: 35%;
    background: url(#{$path-images}common/main-logo.svg) no-repeat;
    background-size: contain;

    @include respond-to('huge') {
      padding-bottom: 35%;
    }

    span {
      @include text-hidden;
    }
  }
}

.lnb {
  display: none;

  @include respond-to('huge') {
    display: block;
  }
  
  & > ul {
    display: flex;
  }
  
  a {
    @include font-gmarket('Bold');
    font-size: 2.1rem;
    padding: 0 1.5em;
  }
}

.snb-menu-wrap {
  position: absolute;
  width: 22.5rem;
  padding: 5rem 0;
  color: $c-black;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

  a {
    position: relative;
    display: inline-block;
    padding: 1rem 0 1rem 3rem;
    font-size: 1.8rem;
    font-weight: $fw-normal;
    @include font-main;

    &::after {
      content: '';
      position: absolute;
      top: 1.7rem;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 100%;
      background-color: $c-main-blue;
      margin-left: 0.8rem;
      transform: scale(0.1);
      opacity: 0;
      transition: 0.3s;
    }

    &:hover {
      color: $c-main-blue;

      &::after {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.header-util-list {
  display: none;

  @include respond-to('huge') {
    display: flex;
  }

  a {
    font-size: 1.4rem;
    margin: 0 1em;

    &:hover {
      border-bottom: 1px solid $c-main-blue;
    }
  }
}

.side-menu-open-btn {
  height: 5rem;
  font-size: 3rem;
  color: $c-main-blue;

  @include respond-to('huge') {
    display: none;
  }
}

.header-background {
  position: absolute;
  width: 100%;
  height: 22rem;
  background-color: $c-light-blue;
  z-index: $z-header-bg;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}