header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
  padding: 0 2rem;
  color: $c-main-blue;
  background-color: #fff;
  z-index: $z-header;

  @include respond-to('huge') {
    position: relative;
    max-width: $max-width;
    height: 10rem;
    margin: auto;
  }
}

h1 {
  a {
    display: inline-block;
    width: 20rem;
    padding-bottom: 20%;
    background: url(#{$path-images}common/main-logo.svg) no-repeat;
    background-size: contain;

    @include respond-to('huge') {
      padding-bottom: 35%;
    }

    span {
      @include text-hidden;
    }
  }
}

.lnb {
  display: none;

  @include respond-to('huge') {
    display: block;
  }
  
  ul {
    display: flex;
  }
  
  a {
    @include font-gmarket('Bold');
    font-size: 2.1rem;
    padding: 0 1.5em;
  }
}

.header-util-list {
  display: none;

  @include respond-to('huge') {
    display: flex;
  }

  a {
    font-size: 1.4rem;
    padding: 0 1em;
  }
}

.side-menu-open-btn {
  height: 5rem;
  font-size: 3rem;
  color: $c-main-blue;

  @include respond-to('huge') {
    display: none;
  }
}