header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.5rem;
  padding: 0 2rem;
  background-color: #fff;
  z-index: $z-header;
}
h1 {
  a {
    display: inline-block;
    width: 20rem;
    padding-bottom: 20%;
    background: url(#{$path-images}common/main-logo.svg) no-repeat;
    background-size: contain;

    span {
      @include text-hidden;
    }
  }
}
.gnb {
  display: none;
  
  ul {
    display: flex;
  }
  
  a {
    font-size: 1.5rem;
    padding: 0 1em;
    color: #6fb3b8;
  }
}
.side-menu-open-btn {
  height: 5rem;
  font-size: 3rem;
  color: $c-main-blue;
}