<footer>
  <ul class="terms-info-list">
    <li><a href="#none">개인정보 처리방침</a></li>
    <li><a href="#none">이용약관</a></li>
    <li><a href="#none">행정정보공개</a></li>
    <li><a href="#none">클린신고센터</a></li>
  </ul>
  <ul class="sns-list">
    <li><a href="#none"><i class="xi-facebook-official"></i></a></li>
    <li><a href="#none"><i class="xi-kakaotalk"></i></a></li>
    <li><a href="#none"><i class="xi-youtube-play"></i></a></li>
    <li><a href="#none"><i class="xi-instagram"></i></a></li>
  </ul>
  <div class="footer-logo-wrap">
    <a href="/"><img src="images/common/main-logo-gray.svg" alt="로고"></a>
  </div>
  <p>
    경기문화재단 경기생활문화센터 (16614) 경기도 수원시 권선구 서둔로 166 생생1990 / 대표전화 031-296-0540<br>
    사업자번호 135-82-06932 / 대표이사 강헌<br>
    COPYRIGHT©GGCF. ALL RIGHTS RESERVED.
  </p>
  <div class="family-site-btn-wrap js-family-site-btn-wrap">
    <button type="button" class="js-family-site-btn">패밀리 사이트<i class="xi-angle-up-min"></i></button>
    <ul>
      <li><a href="#none">경기상상캠퍼스</a></li>
      <li><a href="#none">e상상캠퍼스</a></li>
      <li><a href="#none">경기문화재단</a></li>
    </ul>
  </div>
</footer>