<header>
  <div class="inner">
    <div class="header-wrap">
      <h1>
        <a href="#none">
          <span class="text-hidden">경기생활문화센터</span>
        </a>
      </h1>
      <nav class="lnb">
        <ul>
          <li>
            <a href="#none">경기생활문화센터</a>
            <ul class="snb-menu-wrap">
              <li>
                <a href="#none">센터소개</a>
              </li>
              <li>
                <a href="#none">조직도</a>
              </li>
              <li>
                <a href="#none">사업안내</a>
              </li>
              <li>
                <a href="#none">오시는길</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#none">경기도생활문화</a>
            <ul class="snb-menu-wrap">
              <li>
                <a href="#none">우리지역 생활문화공간</a>
              </li>
              <li>
                <a href="#none">생활문화찾기</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#none">기록자료</a>
            <ul class="snb-menu-wrap">
              <li>
                <a href="#none">영상채널</a>
              </li>
              <li>
                <a href="#none">발간도서</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#none">웹진</a>
            <ul class="snb-menu-wrap">
              <li>
                <a href="#none">소개</a>
              </li>
              <li>
                <a href="#none">웹진</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#none">소통</a>
            <ul class="snb-menu-wrap">
              <li>
                <a href="#none">공지사항</a>
              </li>
              <li>
                <a href="#none">자주묻는질문</a>
              </li>
              <li>
                <a href="#none">1:1문의</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <ul class="header-util-list">
        <li>
          <a href="#none">
            <i class="xi-lock-o"></i>
            로그인
          </a>
        </li>
        <li>
          <a href="#none">
            <i class="xi-search"></i>
            검색
          </a>
        </li>
        <li>
          <a href="#none">
            <i class="xi-calendar"></i>
            일정
          </a>
        </li>
      </ul>
      <button type="button" class="side-menu-open-btn js-side-menu-open-btn"><i class="xi-bars"></i></button>
    </div>
  </div>
</header>
<div class="header-background"></div>