<header>
  <h1>
    <a href="/">
      <span class="text-hidden">경기생활문화센터</span>
    </a>
  </h1>
  <nav class="lnb">
    <ul>
      <li>
        <a href="#none">경기생활문화센터</a>
      </li>
      <li>
        <a href="#none">경기도생활문화</a>
      </li>
      <li>
        <a href="#none">기록자료</a>
      </li>
      <li>
        <a href="#none">웹진</a>
      </li>
      <li>
        <a href="#none">소통</a>
      </li>
    </ul>
  </nav>
  <ul class="header-util-list">
    <li>
      <a href="#none">
        <i class="xi-lock-o"></i>
        로그인
      </a>
    </li>
    <li>
      <a href="#none">
        <i class="xi-search"></i>
        검색
      </a>
    </li>
    <li>
      <a href="#none">
        <i class="xi-calendar"></i>
        일정
      </a>
    </li>
  </ul>
  <button type="button" class="side-menu-open-btn js-side-menu-open-btn"><i class="xi-bars"></i></button>
</header>