<div class="side-menu-container js-side-menu-container">
  <div class="side-menu-header">
    <div class="side-menu-header-btn-wrap">
      <a href="#none" class="side-menu-login-btn">로그인</a>
      <button type="button" class="side-menu-close-btn js-side-menu-close-btn"><i class="xi-close"></i></button>
    </div>
    <form class="side-menu-search-form">
      <input type="text" placeholder="검색어를 입력해주세요.">
      <button type="submit"><i class="xi-search"></i></button>
    </form>
  </div>
  <nav>
    <ul class="side-menu-wrap">
      <li>
        <button type="button" class="side-menu-list-btn js-side-menu-list-btn">경기생활문화센터</button>
        <ul class="sub-side-menu-wrap">
          <li>
            <a href="#none">센터소개</a>
          </li>
          <li>
            <a href="#none">조직도</a>
          </li>
          <li>
            <a href="#none">사업안내</a>
          </li>
          <li>
            <a href="#none">오시는길</a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button" class="side-menu-list-btn js-side-menu-list-btn">경기도생활문화</button>
        <ul class="sub-side-menu-wrap">
          <li>
            <a href="#none">우리지역 생활문화공간</a>
          </li>
          <li>
            <a href="#none">생활문화찾기</a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button" class="side-menu-list-btn js-side-menu-list-btn">기록자료</button>
        <ul class="sub-side-menu-wrap">
          <li>
            <a href="#none">영상채널</a>
          </li>
          <li>
            <a href="#none">발간도서</a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button" class="side-menu-list-btn js-side-menu-list-btn">웹진</button>
        <ul class="sub-side-menu-wrap">
          <li>
            <a href="#none">소개</a>
          </li>
          <li>
            <a href="#none">웹진</a>
          </li>
        </ul>
      </li>
      <li>
        <button type="button" class="side-menu-list-btn js-side-menu-list-btn">소통</button>
        <ul class="sub-side-menu-wrap">
          <li>
            <a href="#none">공지사항</a>
          </li>
          <li>
            <a href="#none">자주묻는질문</a>
          </li>
          <li>
            <a href="#none">1:1문의</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>